---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title='Lite Code Editor - Full JavaScript'>
  <h1 class='text-base text-white'>Lite Code Editor - Full JavaScript</h1>
  <!-- <EditorPlayground client:only projectState={{ state: 'new' }} /> -->
</Layout>
