  .grid {
    display: grid;
    grid-template-rows: 1fr 8px 1fr;
    grid-template-columns: 1fr 8px 1fr;
  }

  .gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
  }

  .gutter-col-1 {
    grid-column: 2;
  }

  .gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
  }

  .gutter-row-1 {
    grid-row: 2;
  }

  #gutter-col {
    cursor: col-resize;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-image: url('/assets/resizeY.png');
  }

  #gutter-row {
    cursor: row-resize;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-image: url('/assets/resizeX.png');
    transform: rotate(180deg);
  }