---
import Landing from '../components/Landing.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Lite Code Editor'>
  <main class='grid grid-rows-[auto] container m-auto'>
    <Landing />
  </main>
</Layout>
