---
import DocumentPlusIcon from '../icon/DocumentPlusIcon.astro'

const { linkTo } = Astro.props
---

<a
  href='/code'
  class='hover:scale-105 transition-all hover:contrast-125 w-28 h-28 text-black shadow-lg shadow-black hover:opacity-70 grid content-center place-items-center rounded-md border-gray-700 border gap-3'
>
  <i class='w-8 h-8 text-white opacity-80'>
    <DocumentPlusIcon />
  </i>
  <span class='text-white opacity-80 text-sm text-center'>Add New!</span>
</a>
