---
import HtmlIcon from '../icon/HtmlIcon.astro'
import CssIcon from '../icon/CssIcon.astro'
import JsIcon from '../icon/JsIcon.astro'
---

<script>
  import { splitWindow } from '../external/splitterWindow'
  import {
    initHtmlEditor,
    initCssEditor,
    initJsEditor,
    setInitEditorContent
  } from '../utils/editor'

  // spliter
  splitWindow()

  // DOM
  const $previewEditor = document.querySelector('iframe') as HTMLElement

  // editor
  const htmlMonaco = initHtmlEditor($previewEditor)
  const cssMonaco = initCssEditor($previewEditor)
  const jsMonaco = initJsEditor($previewEditor)

  const url = window.location.pathname

  setInitEditorContent(url, $previewEditor, htmlMonaco, cssMonaco, jsMonaco)
</script>

<div class='editor grid w-full overflow-y-scroll snap-y h-screen'>
  <div id='html-editor' class='relative h-full min-h-full w-full min-w-full'>
    <HtmlIcon class='w-12 h-12 absolute z-10 bottom-0 right-0 mr-3 mb-1 opacity-60' />
  </div>
  <div id='preview-editor' class='snap-start h-full min-h-full w-full min-w-full'>
    <iframe title='Preview' class='bg-black bg-opacity-80 w-full h-full border-0'></iframe>
  </div>
  <div id='js-editor' class='relative h-full min-h-full w-full min-w-full'>
    <JsIcon class='w-10 h-10 absolute z-10 bottom-0 right-0 mr-5 mb-2 opacity-60' />
  </div>
  <div id='css-editor' class='relative h-full min-h-full w-full min-w-full'>
    <CssIcon class='w-12 h-12 absolute z-10 bottom-0 right-0 mr-3 mb-1 opacity-60' />
  </div>
  <div class='gutter-col gutter-col-1 bg-slate-50 opacity-30'></div>
  <div class='gutter-row gutter-row-1 bg-slate-50 opacity-30'></div>
</div>

<style is:inline>
  .editor {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 75px);
    scroll-snap-align: start;
  }

  .grid {
    display: grid;
    grid-template-rows: 1fr 5px 1fr;
    grid-template-columns: 1fr 5px 1fr;
  }

  .gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
  }

  .gutter-col-1 {
    grid-column: 2;
  }

  .gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
  }

  .gutter-row-1 {
    grid-row: 2;
  }
</style>
