---
import BoxAddNew from '../components/BoxAddNew.astro'
---

<section class='grid grid-rows-[auto,1fr] place-items-center w-full px-10'>
  <header class='text-center pb-5'>
    <h2 class='text-4xl text-white opacity-80 pt-20 pb-2 font-bold'>Workspace</h2>
  </header>
  <hgroup
    class='center rounded-md border-2 shadow-lg shadow-slate-600 border-slate-600 w-full lg:w-3/6 grid grid-rows-[1fr,auto] px-10 py-10'
  >
    <h3 class='text-3xl text-white opacity-80 font-semibold pb-7'>Projects</h3>
    <div class='grid grid-cols-[repeat(auto-fill,minmax(100px,1fr))] gap-7 items-center w-full'>
      <BoxAddNew linkTo='/code' />
      <BoxAddNew linkTo='/code' />
      <BoxAddNew linkTo='/code' />
      <BoxAddNew linkTo='/code' />
      <BoxAddNew linkTo='/code' />
    </div>
  </hgroup>
</section>
