---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en' class='scroll-smooth dark'>
  <head>
    <meta charset='UTF-8' />
    <meta property='og:title' content={title} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://litecode.gabrieldiazdev.com/code' />
    <meta
      property='og:image'
      content='https://litecode.gabrieldiazdev.com/assets/lite-code-editor.jpg'
    />
    <meta
      property='og:image:secure_url'
      content='https://litecode.gabrieldiazdev.com/assets/lite-code-editor.jpg'
    />
    <meta property='og:image:type' content='image/jpeg' />
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='630' />
    <meta property='og:image:alt' content={title} />
    <meta
      name='description'
      content='Lite Code Editor. Fast and lightweight. Project for educational purposes.'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class='h-screen w-full overflow-y-hidden bg-gradient-to-t from-gray-700 via-gray-900 to-black bg-no-repeat bg-cover'
  >
    <slot />
    <style is:global>
      * {
        box-sizing: border-box;
      }

      *::before,
      *::after {
        box-sizing: inherit;
      }
    </style>
  </body>
</html>
